
<ion-header>
  <ion-navbar color = "danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ playlistName }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- <ion-list no-padding>
    <button ion-item *ngFor="let list of videos | async" (click)="goToYoutube()">
      <ion-thumbnail item-start>
        <img [src]="list.snippet.thumbnails.default.url">
      </ion-thumbnail>
      <h2>{{ list.snippet.title }}</h2>
      <p>{{ list.snippet.publishedAt | date:'short' }}</p>
    </button>
  </ion-list> -->


  <ion-list no-padding>
      <ion-item-sliding *ngFor="let list of videos | async; let i = index">
        <a ion-item [href]="'https://www.youtube.com/watch?v='+ list.id.videoId ">
          <ion-thumbnail item-start>
            <img [src]="list.snippet.thumbnails.default.url">
          </ion-thumbnail>
          <h2>{{ list.snippet.title }}</h2>
          <p>{{ list.snippet.publishedAt | date:'short' }}</p>
        </a>
        <ion-item-options>
          <button color="danger" ion-button (click)="deleteVideo(i)"><ion-icon name = "trash"></ion-icon></button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>
