<!-- Generated template for the EditPlaylistComponent component -->
<ion-content>
  <ion-item>
      <ion-label stacked>
        Playlist Name
      </ion-label>
      <ion-input type = "text" #name value = "{{ playlistName }}"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>
      Playlist Description
      </ion-label>
      <ion-input type = "text" #description value = "{{ playlistDescription }}"></ion-input>
    </ion-item>
    <button ion-button (click)="editPlaylist()" color="danger" >Edit Playlist</button>
</ion-content>
  

