
<ion-header>
    <ion-navbar color = "danger">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Create New Playlist</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
  <ion-item>
    <ion-label stacked>
      Playlist Name
    </ion-label>
    <ion-input type = "text" #name></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>
    Playlist Description
    </ion-label>
    <ion-input type = "text" #description></ion-input>
  </ion-item>
  <button ion-button (click)="createNewPlaylist()" color="danger" >Create Playlist</button>
</ion-content>