
<ion-header>
  <ion-navbar color = "danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Playlists</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list no-padding>
    <ion-item-sliding *ngFor="let list of playlists | async; let i = index">
      <button ion-item (click)="openPlaylist(i, list.name)">
        <h2>{{ list.name }}</h2>
        <p>{{ list.description }}</p>
      </button>
      <ion-item-options>
        <button primary ion-button (click)="editPlaylist(i, list.name, list.description)"><ion-icon name = "create"></ion-icon></button>
        <button color="danger" ion-button (click)="deletePlaylist(i)"><ion-icon name = "trash"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
