<!-- Generated template for the PlaylistsListComponent component -->
<ion-header padding>
  <h2>
  Select Playlist
  </h2>
</ion-header>
<ion-content>
  <ion-list no-padding>
    <button ion-item *ngFor="let list of playlists | async; let i = index" (click)="addVideoToPlaylists(i)">
    <h2>{{ list.name }}</h2>
    </button>
  </ion-list>
</ion-content>
