
<ion-header>
  <ion-navbar color = "danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>YourTube</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>
    Use YourTube to organize all your favorite videos from YouTube
  </h2>
  <p>
    Create playlists, add videos, and keep them organized for your viewing ease and pleasure.
  </p>
</ion-content>
