
<ion-header>
  <ion-navbar color = "danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Youtube Videos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label stacked>
      Search Youtube
    </ion-label>
    <ion-input type = "text" #searchWord>

    </ion-input>
  </ion-item>
  <button ion-button (click)="searchYoutube()" color="danger" >Search Youtube</button>

  <ion-list no-padding>
    <button ion-item *ngFor="let list of videos | async" (click)="addVideoToPlaylists(list)">
      <ion-thumbnail item-start>
      <img [src]="list.snippet.thumbnails.default.url">
    </ion-thumbnail>
    <h2>{{ list.snippet.title }}</h2>
    <p>{{ list.snippet.publishedAt | date:'short' }}</p>
    </button>
  </ion-list>
</ion-content>
